[Desktop Entry]
Name=Gambas2
Exec=gambas2
Comment=Gambas2 Integrated Development Environment
Icon=gambas2.png
Terminal=false
Type=Application
Categories=Application;Development;
Encoding=UTF-8
StartupNotify=true
