[Desktop Entry]
Name=Gambas3
Exec=gambas3
GenericName=Gambas3 IDE
GenericName[ru]=Gambas3 IDE(ИСР)
Comment=Gambas3 Integrated Development Environment
Comment[ru]=Gambas3 IDE(ИСР) - альтернатива для Visual Basic
Icon=gambas3
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
