[Desktop Entry]
Name=Gambas3
Exec=gambas3
GenericName=Gambas 3 IDE
GenericName[fr]=EDI Gambas 3
GenericName[ru]=Gambas 3 IDE(ИСР)
Comment=Gambas3 Integrated Development Environment
Comment[fr]=Environnement de développement intégré Gambas 3
Comment[ru]=Gambas 3 IDE(ИСР) - альтернатива для Visual Basic
Icon=gambas3
Terminal=false
Type=Application
Categories=Development;IDE;
StartupNotify=true
