BODY{
  padding: 0px;
  margin: 0px;
}

INPUT[type=submit] {
  border: solid black 1px;
  background: white;
  color: black;
  cursor: pointer;
}

INPUT[type=submit]:hover {
  background: #E0E0E0;
}

CODE {
  background: #F0F0F0;
  padding: 0px 1px;
  display: inline;
}

PRE {
  border: solid 1px #E0E0E0;
  padding: 4px;
}

PRE CODE {
  background: none;
}

TABLE {
  border: solid #A0A0A0 1px;
  padding: 0px;
  border-collapse: collapse;
}

TABLE TD {
  border: solid #A0A0A0 1px;
  padding: 3px 6px;
  vertical-align: top;
}

TABLE TH {
  border: solid #A0A0A0 1px;
  padding: 3px 6px;
  text-align: left;
}

TABLE.example {
  border: none;
  border-left: solid #A0A0A0 8px;
}

TABLE.example TR {
  border: none;
}

TABLE.example TD {
  border: none;
  padding-left: 8px;
}

TABLE.example TH {
  border: none;
  padding-left: 8px;
}

.header {
  background: gray;
  color: white;
  border-bottom: black solid 1px;
  padding: 4px 8px;
  box-shadow: 0 0 8px black;
}

.title {
  display: inline-table;
}

.login {
  float: right;
}

.label-login {
  display: inline-table;
  font-weight: bold; 
}

.page {
  padding: 4px 8px;
}

.unknown {
  color: red;
  font-style: italic;  
}

.command {
  display: inline-table;
  margin-left: 8px;
}

.up {
  display: inline-table;
  vertical-align: middle;
  padding: 2px;
}

.edit {
  border: none;
  width: 100%;
  height: 600px;
  background: none;
}
