HTML, BODY {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

HTML, BODY, DIV {
  box-sizing: border-box;
}

SELECT {
  height: 2em;
}

INPUT {
  font: inherit;
}

H1,H2,H3,P {
  margin-top: 0.5rem;
}

.gw-button {
  padding: 0 0.5em;
  font: inherit;
  min-height: 2em;
}

.gw-button-image {
  margin-right: 0.5em;
  vertical-align: middle;
}

.gw-tab-header {
  margin-bottom: -1px;
  z-index: 1;
  line-height: 2em;
}

.gw-tab {
  color: gray;
  padding: 0 0.5em;
  cursor: pointer;
  border-top: solid transparent 1px;
}

.gw-tab:hover {
  color: black;
}

.gw-tab-selected {
  padding: 0 0.5em;
  border-left: solid #C0C0C0 1px;
  border-top: solid #C0C0C0 1px;
  border-right: solid #C0C0C0 1px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: white;
}

.gw-tab-border {
  border: solid #C0C0C0 1px;
}

.gw-checkbox-label,.gw-radiobutton-label {
  vertical-align: middle;
}

.gw-checkbox-toggle,.gw-radiobutton-toggle {
  vertical-align: middle;
  margin: 0;
  margin-right: 0.5em;
}

.gw-textbox {
  height: 2em;
  box-sizing: border-box;
  padding: 0 0.25em;
}

.gw-combobox {
  display: inline-block;
  position: relative;
  height: 2em;
}

.gw-combobox SELECT {
  height: 100%;
  z-index: 1;
  opacity: 0;
  float: right;
}

.gw-combobox INPUT {
  width: 100%;
  height: 2em;
  box-sizing: border-box;
  padding: 0 2.25em 0 0.25em;
  vertical-align: middle;
}

.gw-combobox-arrow {
  display: inline-block;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAI0lEQVQYlWNgoAZoYGBg+I8DN+BT1MCABhrwSSIrwilJHgAAbCcP9dwIQGIAAAAASUVORK5CYII=');
  background-position: center;
  background-repeat: no-repeat;
  height: 2em;
  width: 2em;
  margin-left: -2em;
  /*pointer-events: none;*/
  vertical-align: middle;
  border: none;
  overflow: hidden;
}

.gw-selectbox {
  display: inline-block;
  position: relative;
  height: 2em;
}

.gw-selectbox SELECT {
  width: 100%;
}

.gw-window {
  position: absolute;
  border: solid 1px white;
  box-shadow: 0 0 0.5em black;
  border-radius: 0.5em;
  background: white;
  z-index: 10;
  overflow: hidden;
}

.gw-window-titlebar {
  display: flex;
  flex-flow: row;
  background: #2980B9;
  font-weight: bold;
  height: 2em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.gw-window-title {
  flex-grow: 1;
  color: white;
  line-height: 2em;
  padding-left: 0.5em;
  pointer-events: none;
}

.gw-window-button {
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  top: 0em;
  right: 0em;
  margin-top: 0.25em;
  margin-right: 0.25em
}

@-moz-document url-prefix() {
  .gw-window-button {
    display: inline-flex;
  };
}

.gw-window-contents {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  padding: 0.5em;
}

.gw-label {
  white-space: nowrap;
  vertical-align: middle;
}

#gw-modal {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.05;
}

.gw-textarea {
  font-family: inherit;
  resize: none;
}
