BODY.left {
  border: none;
  background: #DF6B00;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

BODY {
  position: absolute;
  background: white; /*#96BBD8;*/
  padding: 0px; /*8px 0px 0px 8px;*/
  margin: 0px;
  font-family: sans-serif;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

BODY.none {
  background: white;
  padding: 8px;
  margin: 0px;
}

FRAME {
  background: white;
}

INPUT {
  border: solid gray 1px;
  background: white;
  color: black;
}

INPUT[type=submit] {
  border: solid black 1px;
  cursor: pointer;
  box-shadow: 0 0 4px gray;
}

INPUT[type=submit]:hover {
  background: #E8E8E8;
}

#login {
  width: 8em;
}

#password {
  width: 8em;
}

A {
  text-decoration: none;
}

P {
  margin-bottom: 0;
  margin-top: 0.75em;
}

P:first-child,UL:first-child,OL:first-child {
  margin-bottom: 0;
  margin-top: 0;
}

H1,H2,H3,H4,H5,H6 {
  margin-bottom: 0;
}

H1:first-child {
  margin-top: 0;
}

CODE {
  background: #F0F0F0;
  padding: 0px 1px;
  display: inline;
}

PRE {
  background: #F0F0F0;
  display: inline-block;
  padding: 4px 8px;
  margin: 0px;
  margin-top: 0.75em;
  border: solid #C0C0C0 1px;
}

HR {
  margin-top: 0.75em;
  margin-left: -8px;
  margin-right: -8px;
  padding: 0px;
  height: 1px;
  border: none;
  border-top: solid #C0C0C0 1px;
}

PRE HR {
  margin-bottom: -0.75em;
}

TABLE.table, TABLE.error {
  border-bottom: solid #A0A0A0 1px;
  border-right: solid #A0A0A0 1px;
  padding: 0px;
  margin-top: 0.75em;
  border-spacing: 0;
  empty-cells: show;
}

TABLE.table > TBODY > TR > TD, TABLE.error > TBODY > TR > TD {
  border-top: solid #A0A0A0 1px;
  border-left:  solid #A0A0A0 1px;
  padding: 3px 6px;
  vertical-align: top;
}

TABLE.table > TBODY > TR > TH, TABLE.error > TBODY > TR > TH {
  border-top: solid #A0A0A0 1px;
  border-left:  solid #A0A0A0 1px;
  padding: 3px 6px;
  text-align: left;
}

/*TABLE.example {
  border: none;
  border-left: solid #A0A0A0 8px;
}

TABLE.example TR {
  border: none;
}

TABLE.example TD {
  border: none;
  padding-left: 8px;
}

TABLE.example TH {
  border: none;
  padding-left: 8px;
}*/

.header {
  position: fixed;
  left: 0;
  right: 0;
  background: #CF6706;
  color: white;
  border-bottom: black solid 1px;
  padding: 4px 8px;
  box-shadow: 0 0 8px black;
  height: 24px;
}

.header-v {
  position: fixed;
  left: 0;
  right: 0;
  background: white;
  border-bottom: gray solid 1px;
  padding: 2px 8px;
  height: 16px;
}

.title {
  display: inline-block;
}

.title A {
  color: white;
}

.title-v {
  font-size: 75%;
}

.title-v A {
  color: gray;
}

.login {
  position: absolute;
  display: inline-block;
  right: 4px;
  top: 4px;
}

.label-login {
  display: inline-block;
  font-weight: bold; 
  margin-left: 1em;
}

.page {
  padding: 4px 8px;
  padding-top: 40px;
}

.unknown {
  color: red;
  font-style: italic;
}

DIV.error {
  background: red;
  color: white;
  font-family: monospace;
  padding: 1px 4px;
}

DIV.message {
  color: red;
  font-style: italic;
}

.command {
  display: inline-block;
  margin-left: 8px;
}

#lang {
  margin-left: 8px;
}

.up {
  display: inline-block;
  vertical-align: middle;
  padding: 2px;
}

.edit-frame {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 36px;
  bottom: 0px;
  padding: 8px;
}

.edit {
  border: none;
  background: none;
  width: 100%;
  height: 100%;
}

DIV.table {
  margin-top: 0.75em;
  }
  
DIV.table:first-child {
  margin-top: 0;
}

DIV.box {
  display: inline-block;
  border: solid #A0A0A0 1px;
  border-radius: 8px;
  padding: 8px;
}

DIV.info {
  display: inline-block;
  border: solid #A0A0A0 1px;
  border-radius: 8px;
  padding: 8px;
  padding-left: 48px;
  background: url('/wiki/info.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.warning {
  display: inline-block;
  border: solid #A0A0A0 1px;
  border-radius: 8px;
  padding: 8px;
  padding-left: 48px;
  background: url('/wiki/warning.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.tip {
  display: inline-block;
  border: solid #A0A0A0 1px;
  border-radius: 8px;
  padding: 8px;
  padding-left: 48px;
  background: url('/wiki/tip.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.vb {
  display: inline-block;
  border: solid #A0A0A0 1px;
  border-radius: 8px;
  padding: 8px;
  padding-left: 48px;
  background: url('/wiki/vb.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.critical {
  display: inline-block;
  border: solid #A0A0A0 1px;
  border-radius: 8px;
  padding: 8px;
  padding-left: 48px;
  background: url('/wiki/critical.png') 8px 8px no-repeat;
  min-height: 32px;
}

DIV.example, DIV.seealso {
  display: inline-block;
  border: none;
  padding: 0px;
}

/*DIV.example:before {
  content: 'Example';
  display: block;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.75em;
}*/

DIV.syntax {
  display: inline-block;
  border: solid gray 1px;
  /*border-left: solid #A0A0A0 8px;*/
  padding: 4px 8px;
  font-family: monospace;
  white-space: pre;
}

DIV.syntax > P:first-child {
  margin-top: -0.75em;
}

DIV.syntax > P:last-child {
  margin-bottom: -0.75em;
}

DIV.since {
  display: inline-block;
  background: #FF8080;
  color: white;
  font-weight: bold;
  border: solid 1px red;
  padding: 2px 6px;
}

TABLE.index {
  border: none;
  padding: 0px;
  margin-top: 0.75em;
}

TABLE.index TD {
  border: none;
  padding: 1px 6px;
  vertical-align: baseline;
}

.letter {
  font-weight: bold;
  font-size: larger;
  vertical-align: baseline;
}

TABLE.no-border {
  margin: 0;
  margin-top: 0.75em;
  border: none;
}

TABLE.no-border > TBODY > TR > TD {
  border: none;
}

TABLE.no-border > TBODY > TR > TH {
  border: none;
}

DIV.index {
  display: inline-block;
  border: solid 1px #C0C0C0;
  font-size: 85%;
  padding: 8px 32px 8px 0;
  margin-top: 0.75em;
}

.symbol {
  color: black;
}

TABLE.symbols > TBODY > TR > TH {
  text-align: left;
  vertical-align: top;
  padding-right: 16px;
}

TABLE.symbols > TBODY > TR > TD {
  vertical-align: top;
  padding-right: 16px;
}

TEXTAREA {
  font-family: monospace;
}

H1 {
    border: medium none;
    color: #3398C3;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 16px;
    padding: 0;
    text-shadow: 2px 2px 2px #FF7F00;
}
  
HR {
  margin-left: -16px;
  margin-right: -16px;
}

/*---------------------------------------------------------------*/

.home {
  padding: 8px 8px 8px 16px;
  max-width: 860px;
}

.left A:link {
  color: white;
}

.left A:visited {
  color: white;
}

.left A:before {
  content: "";
}

.architecture-border {
  background: white;
  border: solid 1px gray;
  box-shadow: 0 0 6px black;
  padding: 6px;
}

#main-table {
  width: 100%;
  height: 100%;
}

#main-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 188px;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 8px black;
}

#main-contents {
  width: 100%;
  height: 100%;
}

#last-version {
  background: #B0CEE6;
  float: right;
  margin-bottom: 16px;
  margin-left: 16px;
}

#top-menu {
  /*text-shadow: 1px 1px 2px #808080;*/
  padding: 12px;
  border: solid 1px #21647F;
  background: #3398c3;
}

#bottom-menu {
  height: 100%;
  padding: 12px 8px;
  background: #DF6B00;
  border: solid 1px #BF5C00;
  /*box-shadow: #DF6B00 0px 0px 8px 8px;*/
}

#presentation {
  height: 100%;
  padding: 0px 16px 16px 8px;
  margin-left: -8px;
  margin-top: 0px;
}

#title {
  padding: 0px;
  font-weight: bold;
  font-size: xx-large;
  color: #3398c3;
  letter-spacing: 1px;
  margin-bottom: 16px;
  text-shadow: 2px 2px 2px #DF6B00;
}

.download-gray {
  display: block;
  padding: 12px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  border: solid #808080 1px;
  border-radius: 6px;
  color: #fff;
  background: #C0C0C0; /* old browsers */
  background: -moz-linear-gradient(top, #C0C0C0 0%, #808080 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C0C0C0), color-stop(100%,#808080)); /* webkit */
  background: linear-gradient(top, #C0C0C0 0%, #808080 100%);
  font-size: large;
  text-align: center;
}

.download-orange {
  display: block;
  padding: 12px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  border: solid #BF5C00 1px;
  border-radius: 6px;
  color: #fff;
  /*overflow: visible;*/
  background: orange; /* old browsers */
  background: -moz-linear-gradient(top, orange 0%, #BF5C00 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,orange), color-stop(100%,#BF5C00)); /* webkit */
  background: linear-gradient(top, orange 0%, #BF5C00 100%);
  font-size: large;
  white-space: nowrap;
  text-wrap: none;
  -moz-transition: box-shadow 0.25s ease,text-shadow 0.25s ease;
  -webkit-transition: box-shadow 0.25s ease,text-shadow 0.25s ease;
}

A.download-orange:hover {
  box-shadow: 0 0 8px orange;
}

.download-blue {
  display: block;
  padding: 12px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  border: solid #21647F 1px;
  border-radius: 6px;
  color: #fff;
  /*overflow: visible;*/
  background: #3398C3; /* old browsers */
  background: -moz-linear-gradient(top, #3398C3 0%, #21647F 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3398C3), color-stop(100%,#21647F)); /* webkit */
  background: linear-gradient(top, #3398C3 0%, #21647F 100%);
  font-size: large;
  text-align: center;
  white-space: nowrap;
  -moz-transition: box-shadow 0.25s ease,text-shadow 0.25s ease;
  -webkit-transition: box-shadow 0.25s ease,text-shadow 0.25s ease;
}

A.download-blue:hover {
  box-shadow: 0 0 8px #3398C3;
}

.release-notes {
  font-size: small;
  /*margin-left: 16px;*/
  margin-bottom: 12px;
}

#home-background {
  background-image: url('home.jpeg');
  background-repeat: no-repeat;
  background-position: left bottom;
  position: fixed;
  z-index: -1;
  /*width: 868px;
  height: 90%;*/
  width: 100%;
  height: 100%;
  bottom: 0px;
}

#formula {
  border-radius: 16px;
  padding: 8px;
  }

#news {
  height: 100%;
  width: 100%;
  border: solid 1px #21647F;
  box-shadow: 0 0 8px black;
  overflow: hidden;
}

#see-news {
  position: relative;
  left: -1em;
  top: 3em;
  border: solid 1px #21647F;
}

#see-news a:link {
  color: white;
}

#see-news a:visited {
  color: white;
}

#fade {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 64px;
  background-image: url('fade.png');  
}

#news-frame {
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
}

#logo {
  display: block;
  margin-bottom: 16px;
}

.all-news {
  display: inline-table;
  background: #3398C3;
  border-top: solid 1px #21647F;
  border-left: solid 1px #21647F;
  border-right: solid 1px #21647F;
  color: white;
  font-size: small; 
  padding: 0px 6px;
  /*margin-top: 8px;*/
}

.all-news a:link {
  color: white;
}

.all-news a:visited {
  color: white;
}
