H1 {
    border: medium none;
    color: #3398C3;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 16px;
    padding: 0;
    text-shadow: 2px 2px 2px #FF7F00;
}
  
HR {
  margin-left: -16px;
  margin-right: -16px;
}

.page {
  top: 0;
  margin: 0;
}