<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <link rel="stylesheet" href="style.css">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>

<body>

<div class="title">
{Download}
</div>

<div class="space"></div>
<div class="warning">
<font size="4"><b>{<img src="warning.png" align=center>&nbsp;READ THESE <a href="http://gambasdoc.org/help/readme?view&amp;$(LANG)">IMPORTANT NOTES</a> AND <a href="http://gambasdoc.org/help/install?view&amp;$(LANG)">THIS PAGE</a> FIRST.}</b></font>
</div>

<!--<h3>Development Version Source Packages (<a href="changelog2.html">ChangeLog</a>)</h3>

<table border="0" bordercolor="#43C7FF" cellspacing="0" cellpadding="6" valign="top">

  <tr>
    <th width="240" align="left">{Package}</th>
    <th align="left">{Version}</th>
    <th width="100" align="left">{Format}</th>
  </tr>

  <tr class="dark">
    <td><a href="http://prdownloads.sourceforge.net/gambas/gambas2-$(DEV_VERSION).tar.bz2?download">gambas2-$(DEV_VERSION).tar.bz2</a></td>
    <td>$(DEV_VERSION)</td>
    <td>tar.bz2</td>
  </tr>

  <tr>
    <td><a href="http://prdownloads.sourceforge.net/gambas/gambas2-$(DEV_VERSION_1).tar.bz2?download">gambas2-$(DEV_VERSION_1).tar.bz2</a></td>
    <td>$(DEV_VERSION_1)</td>
    <td>tar.bz2</td>
  </tr>

  <tr class="dark">
    <td><a href="http://prdownloads.sourceforge.net/gambas/gambas2-$(DEV_VERSION_2).tar.bz2?download">gambas2-$(DEV_VERSION_2).tar.bz2</a></td>
    <td>$(DEV_VERSION_2)</td>
    <td>tar.bz2</td>
  </tr>

  <tr>
    <td><a href="http://prdownloads.sourceforge.net/gambas/gambas2-$(DEV_VERSION_3).tar.bz2?download">gambas2-$(DEV_VERSION_3).tar.bz2</a></td>
    <td>$(DEV_VERSION_3)</td>
    <td>tar.bz2</td>
  </tr>

</table>-->

<h3>{Current Developer Snapshots}</h3>

<p>You get them from the Subversion repository. To get a snapshot of the future 3.0 version, do:
<pre>$ mkdir trunk
$ svn checkout https://gambas.svn.sourceforge.net/svnroot/gambas/gambas/trunk/
$ cd trunk
$ ./reconf-all
</pre>
<p>To get a snapshot of the 2.x development version, do:
<pre>$ mkdir 2.0
$ svn checkout https://gambas.svn.sourceforge.net/svnroot/gambas/gambas/branches/2.0
$ cd 2.0
$ ./reconf-all
</pre>
<p>Do not forget to install <tt>automake</tt> and <tt>autoconf</tt>, otherwise the <tt>./reconf-all</tt> script will not work.

<h3>{Stable Version Source Packages} (<a href="changelog2.html">{ChangeLog}</a>)</h3>

<table border="0" bordercolor="#43C7FF" cellspacing="0" cellpadding="6" valign="top">

  <tr>
    <th width="240" align="left">{Package}</th>
    <th align="left">{Version}</th>
    <th width="100" align="left">{Format}</th>
  </tr>

  <tr class="dark">
    <td><a href="http://prdownloads.sourceforge.net/gambas/gambas2-$(STABLE_VERSION).tar.bz2?download">gambas2-$(STABLE_VERSION).tar.bz2</a></td>
    <td>$(STABLE_VERSION)</td>
    <td>tar.bz2</td>
  </tr>

  <tr>
    <td><a href="http://prdownloads.sourceforge.net/gambas/gambas2-$(STABLE_VERSION_1).tar.bz2?download">gambas2-$(STABLE_VERSION_1).tar.bz2</a></td>
    <td>$(STABLE_VERSION_1)</td>
    <td>tar.bz2</td>
  </tr>

  <tr class="dark">
    <td><a href="http://prdownloads.sourceforge.net/gambas/gambas2-$(STABLE_VERSION_2).tar.bz2?download">gambas2-$(STABLE_VERSION_2).tar.bz2</a></td>
    <td>$(STABLE_VERSION_2)</td>
    <td>tar.bz2</td>
  </tr>

  <tr>
    <td><a href="http://prdownloads.sourceforge.net/gambas/gambas2-$(STABLE_VERSION_3).tar.bz2?download">gambas2-$(STABLE_VERSION_3).tar.bz2</a></td>
    <td>$(STABLE_VERSION_3)</td>
    <td>tar.bz2</td>
  </tr>

</table>


<h3>{Gambas Presentation}</h3>

<p>Here is the last presentation I made in Palermo. You can open it with OpenOffice, or use the PDF version
with the PdfPresentation OpenGL example included in the Gambas sources.</p>

<table border="0" bordercolor="#43C7FF" cellspacing="0" cellpadding="6" valign="top">

  <tr>
    <th align=left>{Presentation}</th>
    <th align=left>{Type}</th>
  </tr>

  <tr class="dark">
    <td><a href="presentation-palermo-2007.pdf" target="_blank">presentation-palermo-2007.pdf</a></td>
    <td>PDF</td>
  </tr>

  <tr>
    <td><a href="presentation-palermo-2007.odp" target="_blank">presentation-palermo-2007.odp</a></td>
    <td>OpenOffice</td>
  </tr>

</table>


<h3>{Binary Packages}</h3>

<p><b>NOTE:</b> I didn't make the following packages, as I do not have the time and
the knowledge to make them.
So, if you have problems with them, contact their respective authors!</p>

<p><b>NOTE #2:</b> The <a href="http://gambasdoc.org/help/howto/package?view">binary package specifications</a> are located in the documentation wiki.</p>

<table border=0 bordercolor=#43C7FF cellspacing=0 cellpadding=6 valign=top>

  <tr valign="top">
    <th>{Distribution}</th>
    <th>{Packages}</th>
    <th>{Correctly packaged}</th>
  </tr>

  <tr valign="top">
    <td valign="top">CentOS</td>
    <td>
      Download packages from
      <pre><a href="http://centos.karan.org/el4/extras/stable/i386/RPMS/repodata/repoview/Development.Tools.group.html" target="_blank">http://centos.karan.org/el4/extras/.../repodata/repoview/Development.Tools.group.html</a></pre>
      This distribution is based on Fedora, so Fedora users should be able to use these packages too.
    </td>
    <td>Yes</td>
  </tr>

  <tr class="dark" valign="top">
    <td valign="top">Debian</td>
    <td>
      <i>Debian</i> packages for <tt>Sarge/Sid</tt> are made by
      <a href="mailto:jredrejo@edu.juntaextremadura.net">Jos&eacute; L. Redrejo</a>.
      <p>
      Last version of gambas packages for Debian sid are always available at the
      official Debian repositories.
      <p>
      Last version of gambas packages for Debian stable (or etch) are always
      available using apt-get, adding this line to the /etc/apt/sources.list file:
      <pre>deb http://apt.linex.org/linex/gambas/stable/ ./</pre>
      <b>Important note:</b> Etch users can not use gambas2-gb-gtk, gambas2 &amp;
      gambas2-gb-gtk-svg packages due to the gtk version (2.8) available in Debian
      etch. If they want to use these packages there is a gtk-2.10 etch backport
      for available via apt-get using
      <pre>deb http://apt.linex.org/linex/gtk-2.10/ ./</pre>
    </td>
    <td>Yes</td>
  </tr>

  <tr valign="top">
    <td valign="top">Fedora</td>
    <td>
      <b><i>Gambas</i></b> is maintained in 'Fedora Extras'.
      You can install it by using the following command:
      <pre>yum install gambas-ide-1.0.X*</pre> where X is the version you want to install.
      <p>More recent packages made by <a href="mailto:luigi.carlotto@mclink.it">Lugi Carlotto</a> are available there:
      <pre><a href="http://www.ldrweb.net/modules/icontent/index.php?page=10" target="_blank">http://www.ldrweb.net/modules/icontent/index.php?page=10</a></pre>
    </td>
    <td>Yes</td>
  </tr>

  <tr class="dark" valign="top">
    <td valign="top">Gentoo</td>
    <td>
      <b><i>Gambas</i></b> is in the portage tree. The ebuilds are maintained by
      Marius Mauch. So a simple <tt>emerge gambas</tt> is sufficient to install it.
      <p>And here is a ebuild for the development version:
      <pre><a href="http://bugs.gentoo.org/show_bug.cgi?id=146871" target="_blank">http://bugs.gentoo.org/show_bug.cgi?id=146871</a></pre>
    </td>
    <td>N/A</td>
  </tr>

  <!--<tr valign="top">
    <td valign="top">GuadaLinex</td>
    <td>
      GuadaLinex is based on Ubuntu. You will find specific packages there:
      <pre><a href="http://danicafe.extreblog.com/200709118041_Gambas-packages-for-Ubuntu-Feisty-and-Guadalinex-v41.html">http://danicafe.extreblog.com/200709118041_Gambas-packages-for-Ubuntu-Feisty-and-Guadalinex-v41.html</a></pre>
    </td>
    <td>Yes</td>
  </tr>-->

  <tr valign="top">
    <td valign="top">Linex</td>
    <td>
      Linex is a Debian, so look at the Debian section!
    </td>
    <td>Yes</td>
  </tr>

  <tr class="dark" valign="top">
    <td valign="top">Mandriva</td>
    <td>
      It seems that the binary packages of the stable version made by <i>Mandriva</i> are now correct.<br>
      <p>
      You can go to <a href="http://www.kudla.org" target="_blank">www.kudla.org</a> to download binary
      packages of the stable and development versions too.
      They are made by <a href="sourceforge-raindog2@kudla.org">Rob Kudla</a>.
    </td>
    <td>Yes</td>
  </tr>

  <tr valign="top">
    <td valign="top">OpenSuSE</td>
    <td>
      The binary packages made by default do not follow the specifications.<br>
      <b>DO NOT USE THEM!</b>
      <p>
      Instead, use the packages made by <a href="mailto:gbv@oxixares.com">Guillermo Ballester Valor</a>.
      <p>
      You can download source and binary packages for all recent versions of SuSE at:
      <pre><a href="http://download.opensuse.org/repositories/home:/gbvalor/" target="_blank">http://download.opensuse.org/repositories/home:/gbvalor/</a></pre>
    </td>
    <td><h2>NO</h2>but yes, thanks to Guillermo</td>
  </tr>

  <tr class="dark" valign="top">
    <td valign="top">QiLinux</td>
    <td>
      You will find the binary packages at
      <pre><a href="ftp://ftp.qilinux.it/pub/QiLinux/devel/RPMS/i586/" target="_blank">ftp://ftp.qilinux.it/pub/QiLinux/devel/RPMS/i586/</a></pre>
    </td>
    <td>Yes</td>
  </tr>

  <tr valign="top">
    <td valign="top">Slackware</td>
    <td>
      You will find packages of <b><i>Gambas</i></b> for Slackware at <a href="http://www.linuxpackages.net" target="_blank">www.linuxpackages.net</a>
    </td>
    <td>N/A</td>
  </tr>

  <tr class="dark" valign="top">
    <td valign="top">T2</td>
    <td>
      Go to <a href="http://www.t2-project.org/">http://www.t2-project.org/</a> to have more information
      about this meta-distribution. The Gambas stable version package is located at:
      <pre><a href="http://www.t2-project.org/packages/gambas.html" target="_blank">http://www.t2-project.org/packages/gambas.html</a></pre>
    </td>
    <td>N/A</td>
  </tr>

  <tr valign="top">
    <td valign="top">Ubuntu</td>
    <td>
      The official packages are there:
      <pre><a href="http://packages.ubuntu.com/hardy/devel/gambas2" target="_blank">http://packages.ubuntu.com/hardy/devel/gambas2</a></pre>
      But you will find more recent ones there:
      <pre><a href="http://gambas.gnulinex.org/ubuntu" target="_blank">http://gambas.gnulinex.org/ubuntu</a></pre>
    </td>
    <td>Yes</td>
  </tr>

</table>

</body>

</html>
