<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="$(LANG)" lang="$(LANG)" dir="$(LANGDIR)">

<head>
  <link rel="stylesheet" href="$(STYLE)">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>

<body>

<div class="title">{News Archive}</div>
<div class="space"></div>

$(NEWS)

</body>
</html>
